# /etc/systemd/system/fury.service

[Unit]
Description=fury Node
After=network.target

[Service]
Type=simple
User=fury
WorkingDirectory=/home/fury
ExecStart=/home/fury/go/bin/fury start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
